# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
EMBRACE.xcodeproj/project.pbxproj.orig
EMBRACE_Client/Book.m.BACKUP.13127.m
EMBRACE_Client/Book.m.BASE.13127.m
EMBRACE_Client/Book.m.LOCAL.13127.m
EMBRACE_Client/Book.m.REMOTE.13127.m
EMBRACE_Client/Book.m.orig
EMBRACE_Client/EBookImporter.m.orig
EMBRACE_Client/InteractionModel.h.orig
EMBRACE_Client/PMViewController.m.orig
EMBRACE_Client/en.lproj/MainStoryboard_iPad.storyboard.orig
farm.epub.orig
farm20140516.epub
farm20140521.epub
farm20140522.epub
farm20140611.epub
farm20140616.epub
farm20140618.epub
farm20140620.epub
farm20140622.epub
farm20140626.epub
farm20140629.epub
farm20140703.epub
farm20140707.epub
farm20140715.epub
