@keyframes moveLeft {
    0% {left:1024px;}
    100% {left: 0px;}
}

@keyframes moveLeftAndWrap {
    0% {left: 1024px;}
    100% {left: 0px;}
}

.manipulationObject.center.moveLeftAndWrap {
    -webkit-animation: moveLeftAndWrap 10s linear infinite;
    animation: moveLeftAndWrap 10s linear infinite;
}

@keyframes moveRight {
    0% {left: 0px;}
    100% {left: 1024px;}
}

@keyframes moveRightSlow {
    0% {left: 0px;}
    100% {left: 1024px;}
}

@keyframes moveRightSlower {
    0% {left: 0px;}
    100% {left: 1024px;}
}

@keyframes moveRightAndWrap {
    0% {left: 0px;}
    100% {left: 1024px;}
}

.manipulationObject.center.moveRightAndWrap {
    -webkit-animation: moveRightAndWrap 10s linear infinite;
    animation: moveRightAndWrap 10s linear infinite;
}

@keyframes moveRightAndWrapSlow {
    0% {left: 0px;}
    100% {left: 1024px;}
}

.manipulationObject.center.moveRightAndWrapSlow {
    -webkit-animation: moveRightAndWrap 15s linear infinite;
    animation: moveRightAndWrap 15s linear infinite;
}

@keyframes moveRightAndWrapSlower {
    0% {left: 0px;}
    100% {left: 1024px;}
}

.manipulationObject.center.moveRightAndWrapSlower {
    -webkit-animation: moveRightAndWrap 20s linear infinite;
    animation: moveRightAndWrap 20s linear infinite;
}

@keyframes moveTop {
    0% {top: 704px;}
    100% {top: 0px;}
}

@keyframes moveTopAndWrap {
    0% {top: 704px;}
    100% {top: 0px;}
}

.manipulationObject.center.moveTopAndWrap {
    -webkit-animation: moveTopAndWrap 10s linear infinite;
    animation: moveTopAndWrap 10s linear infinite;
}

@keyframes moveDown {
    0% {top:0px;}
    100% {top: 704px;}
}

@keyframes moveDownAndWrap {
    0% {top: 0px;}
    100% {top: 704px;}
}

.manipulationObject.center.moveDownAndWrap {
    -webkit-animation: moveDownAndWrap 10s linear infinite;
    animation: moveDownAndWrap 10s linear infinite;
}