.text {
	float:top;
	text-align:center;
}

.startImage {
	margin-left: auto;
   	margin-right: auto;
	width:400px;
}

.imageOptions {
	margin-left: auto;
   	margin-right: auto;
	/*margin-top: auto;
	margin-bottom: auto;*/
	width:800px;
	/*height:300px;*/
}

.letterOptions {
	text-align:center;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
  	margin-left: -300px;
}
